{
  "extends": [
    "@terrestris/eslint-config-typescript"
  ],
  "plugins": ["simple-import-sort"],
  "rules": {
    "@typescript-eslint/member-ordering": "off",
    "no-underscore-dangle": "off",
    "simple-import-sort/exports": "warn",
    "simple-import-sort/imports": "warn"
  }
}
